@font-face {
    font-family: 'F37 Ginger';
    src: url('#{$font-path}/F37Ginger-LightItalic.woff2') format('woff2'),
        url('#{$font-path}/F37Ginger-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'F37 Ginger';
    src: url('#{$font-path}/F37Ginger-Light.woff2') format('woff2'),
        url('#{$font-path}/F37Ginger-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'F37 Ginger';
    src: url('#{$font-path}/F37Ginger-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}/F37Ginger-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'F37 Ginger';
    src: url('#{$font-path}/F37Ginger.woff2') format('woff2'),
        url('#{$font-path}/F37Ginger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'F37 Ginger';
    src: url('#{$font-path}/F37Ginger-Bold.woff2') format('woff2'),
        url('#{$font-path}/F37Ginger-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'F37 Ginger';
    src: url('#{$font-path}/F37Ginger-Italic.woff2') format('woff2'),
        url('#{$font-path}/F37Ginger-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charter ITC Std';
    src: url('#{$font-path}/CharterITCStd-Black.woff2') format('woff2'),
        url('#{$font-path}/CharterITCStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Charter ITC Std';
    src: url('#{$font-path}/CharterITCStd-Italic.woff2') format('woff2'),
        url('#{$font-path}/CharterITCStd-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charter ITC Std';
    src: url('#{$font-path}/CharterITCStd-Bold.woff2') format('woff2'),
        url('#{$font-path}/CharterITCStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charter ITC Std';
    src: url('#{$font-path}/CharterITCStd-BlackItalic.woff2') format('woff2'),
        url('#{$font-path}/CharterITCStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Charter ITC Std';
    src: url('#{$font-path}/CharterITCStd-Regular.woff2') format('woff2'),
        url('#{$font-path}/CharterITCStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charter ITC Std';
    src: url('#{$font-path}/CharterITCStd-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}/CharterITCStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


