.toolbar-header {

  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;




  &__container {
    background: theme-color(secondary);
    box-shadow: elevate-shadow(elevate-1);
    display: flex;
    justify-content: space-between;

    &--desktop {
      background: none;
      box-shadow: none;
      // &:not(.toolbar-header__container--full-extended) {
      //   @include media-breakpoint-up(xxxl) {
      //     max-width: 35%;
      //   }

      //   max-width: 630px;
      // }
      
    }
  }

  &__dropdown {
    background: theme-color(primary);
    color: $light;
    left: 0;
    padding-bottom: 35px;
    position: absolute;
    right: 0;
    top: 100%;

    &-nav {
      padding: 30px 0 50px;
    }

    &-footer {
      align-items: center;
      display: flex;
      font-size: .6rem;
      justify-content: space-between;
    }
  }
}
