.font-secondary {
  font-family: $font-family-secondary;
}

.font-style-italic {
  font-style: italic;
}

.link-underlined {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
